<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a sample boiler plate for having a small functioning rails 6 application with devise and bootstrap using webpacker.</p>
  <hr class="my-4">
  <p>You can find the completed guide to install this boiler-plate here.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://github.com/RaviSys/rails-bootstrap-devise" target="_blank" role="button">Learn more</a>
  </p>
</div>
